<div class="container">
    <div class="row">
        <img src="assets/w1.png">
    </div>
    <div class="row">
        <div class="col-sm-4">
             <img src="assets/w8.png">
            <video width="350" height="240" controls>
                <source src="assets/wv1.mp4" type="video/mp4">
                
              </video>
              <h4>Abs workout</h4>
        </div>
        <div class="col-sm-4">
            <img src="assets/w3.png">
            <video width="350" height="240" controls>
                <source src="assets/wv2.mp4" type="video/mp4">
                
              </video>
              <h4>leg workout</h4>
        </div>
        <div class="col-sm-4">
            <img src="assets/w4.png">
            <video width="350" height="240" controls>
                <source src="assets/wv3.mp4" type="video/mp4">
                
              </video>
              <h4>Back workout</h4>
        </div>
       
    </div><hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/w6.png">
            <video width="350" height="240" controls>
                <source src="assets/wv4.mp4" type="video/mp4">
                
              </video>
              <h4>chest workout</h4>
        </div>
        <div class="col-sm-4">
            <img src="assets/w7.png">
            <video width="350" height="240" controls>
                <source src="assets/wv5.mp4" type="video/mp4">
                
              </video>
              <h4>full body workout</h4>
        </div>
        <div class="col-sm-4">
            <img src="assets/w2.png">
            <video width="350" height="240" controls>
                <source src="assets/wv6.mp4" type="video/mp4">
                
              </video>
              <h4>Arms workout</h4>
        </div>
       
        <hr>
    </div>
    <div class="row" id="x">
        <img src="assets/w9.png">
    </div>
</div>
