<div class="container">
    <div class="row">
        <img src="assets/hl1.png" >
    </div>
    <h1><u>Healthy living</u></h1>
    <p>

Good health habits can allow you to avoid illness and improve your quality of life. The following steps will help you feel better and live better.

    </p>
    <ul>
        <li>Get regular exercise and control your weight.</li>
        <li>Don't smoke.</li>
        <li>Do NOT drink a lot of alcohol. Avoid alcohol completely if you have a history of alcoholism.</li>
        <li>Use the medicines your health care provider gives you as directed.</li>
        <li>Eat a balanced and healthy diet.</li>
        <li>Take care of your teeth.</li>
        <li>Manage high blood pressure.</li>
        <li>Follow good safety practices.</li>
    </ul>
    <hr>
    <div class="row">
        <h1><u>1. Eat a healthy diet</u></h1>
        <img src="assets/hl2.png" id="q"  >
        <p>Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</p>
    <hr>
    <h1><u>2. Consume less salt and sugar</u></h1>
    <img src="assets/hl3.png" id="q"  >
    <p>Filipinos consume twice the recommended amount of sodium, putting them at risk of high blood pressure, which in turn increases the risk of heart disease and stroke. Most people get their sodium through salt. Reduce your salt intake to 5g per day, equivalent to about one teaspoon. It’s easier to do this by limiting the amount of salt, soy sauce, fish sauce and other high-sodium condiments when preparing meals; removing salt, seasonings and condiments from your meal table; avoiding salty snacks; and choosing low-sodium products.

        On the other hand, consuming excessive amounts of sugars increases the risk of tooth decay and unhealthy weight gain. In both adults and children, the intake of free sugars should be reduced to less than 10% of total energy intake. This is equivalent to 50g or about 12 teaspoons for an adult. WHO recommends consuming less than 5% of total energy intake for additional health benefits. You can reduce your sugar intake by limiting the consumption of sugary snacks, candies and sugar-sweetened beverages.</p>
       <hr>
       <h1><u>3. Reduce intake of harmful fats</u></h1>
       <img src="assets/hl4.png" id="q"  >
       <p>Fats consumed should be less than 30% of your total energy intake. This will help prevent unhealthy weight gain and NCDs. There are different types of fats, but unsaturated fats are preferable over saturated fats and trans-fats. WHO recommends reducing saturated fats to less than 10% of total energy intake; reducing trans-fats to less than 1% of total energy intake; and replacing both saturated fats and trans-fats to unsaturated fats.

        The preferable unsaturated fats are found in fish, avocado and nuts, and in sunflower, soybean, canola and olive oils; saturated fats are found in fatty meat, butter, palm and coconut oil, cream, cheese, ghee and lard; and trans-fats are found in baked and fried foods, and pre-packaged snacks and foods, such as frozen pizza, cookies, biscuits, and cooking oils and spreads.</p>
      <hr>
      <h1><u>4. Avoid harmful use of alcohol</u></h1>
      <img src="assets/hl5.png" id="q"  >
      <p>There is no safe level for drinking alcohol. Consuming alcohol can lead to health problems such as mental and behavioural disorders, including alcohol dependence, major NCDs such as liver cirrhosis, some cancers and heart diseases, as well as injuries resulting from violence and road clashes and collisions.</p>
    <hr>
     <h1><u>5. Don’t smoke</u></h1>
     <img src="assets/hl6.png" id="q"  >
     <p>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only the direct smokers but even non-smokers through second-hand exposure. Currently, there are around 15.9 million Filipino adults who smoke tobacco but 7 in 10 smokers are interested or plan to quit.

        If you are currently a smoker, it’s not too late to quit. Once you do, you will experience immediate and long-term health benefits. If you are not a smoker, that’s great! Do not start smoking and fight for your right to breathe tobacco-smoke-free air.</p>
    <hr>
    <h1><u>6. Be active</u></h1>
    <img src="assets/hl7.png" id="q"  >
    <p>Physical activity is defined as any bodily movement produced by skeletal muscles that requires energy expenditure. This includes exercise and activities undertaken while working, playing, carrying out household chores, travelling, and engaging in recreational pursuits. The amount of physical activity you need depends on your age group but adults aged 18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the week. Increase moderate-intensity physical activity to 300 minutes per week for additional health benefits.</p>
      <hr>
      <h1><U>7. Talk to someone you trust if you're feeling down</U></h1>    
      <img src="assets/hl8.png" id="q"  >
      <p>Depression is a common illness worldwide with over 260 million people affected. Depression can manifest in different ways, but it might make you feel hopeless or worthless, or you might think about negative and disturbing thoughts a lot or have an overwhelming sense of pain. If you’re going through this, remember that you are not alone. Talk to someone you trust such as a family member, friend, colleague or mental health professional about how you feel. If you feel that you are in danger of harming yourself, contact the National Center for Mental Health hotline at 0917-899-USAP (8727).</p>
       <hr>
       <h1><U>8.Clean your hands properly</U></h1>    
      <img src="assets/hl9.png" id="q"  >
      <p>Hand hygiene is critical not only for health workers but for everyone. Clean hands can prevent the spread of infectious illnesses. You should handwash using soap and water when your hands are visibly soiled or handrub using an alcohol-based product.</p>
      <hr>
      <h1><U>9.Have regular check-ups</U></h1>    
      <img src="assets/hl10.png" id="q"  >
      <p>Regular check-ups can help find health problems before they start. Health professionals can help find and diagnose health issues early, when your chances for treatment and cure are better. Go to your nearest health facility to check out the the health services, screenings and treatment that are accessible to you.</p>
      <hr>
    </div>
</div>
