<div class="container">
    <div class="row">
        <img src="assets/a1.png">
    </div>
    <div class="row">
        <h1>Created to help you live a better,<br> happier, healthier life.</h1>
        <P>We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's why we offer hundreds of free, full-length workout videos, the most affordable and effective workout programs on the web, meal plans, and helpful health, nutrition and fitness information.</P>
       <hr>   
       <img src="assets/a2.png">
       <img src="assets/a3.png">
       <hr>
       <br>
       <br>
       <img src="assets/a4.png">
    </div>
</div>
