<div class="row">
    <h1>
        <b>Live Well, Feel Great and Look Great.</b>
    </h1>
   
    
        <h1><img src="assets/h1.png"  ></h1>
      
        <a href="/workout">
            <button type="button" class="btn btn-primary" style="font-size: xx-large;">Let Start</button>
        </a>
    
        
</div>
<div class="container">
    <h1><b>Fitness<br>
        Made Simple</b></h1>

        <p>Fitness
             Dietspotlight provides the support and motivation people <br>
            need to reach their wellness goals and take control <br>
            of their health — anytime, anywhere, any  age, any <br>
            fitness level.</p>
            <a href="/health"><button type="button" class="btn btn-primary" style="font-size: x-large;">Let Get Fit</button></a>
</div>
<div id="e">
    <h1>
        Improving Health with <br>
        Fitness for Everyone</h1>
        <p>Whether your goal is:</p>
        <ul>
            <li>Weight Loss</li>
            <li>Muscle Gain</li>
            <li>Improved Flexibility</li>
            <li>Increased Endurance</li>
            <li>Reduced Pain</li>
            <li>Or to Simply Tone</li>
            <li>etc</li>
        </ul>
</div>
