<ul class="nav nav-tabs">
    <li class="nav-item" id="x">
      <a class="nav-link active"  routerLink="mainpage">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="workout">workouts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="yoga">Yoga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="health">Health living</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>

      
        
      
      


  </ul>


