ul{font-size: x-large;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-left: 1cm;}
    li{padding-left: 2cm;
    }
    button{font-size: large;border-radius: 30px;}
    #i{padding-left: 5cm;}
    a{color: aliceblue;}
    