<div class="container">
    <div class="row">
        <br>
        <hr>
        <img src="assets/y1.png" height="400" width="400" >
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-6">
           <h2><u>Yoga For Beginners - 30 Minute Practice</u>
        </h2>
        <video width="350" height="240" controls>
            <source src="assets/yv1.mp4" type="video/mp4">
            
          </video>
        
        <p>In this 30 minute session for beginners, we will work with breath and other foundational elements to set you up for a sustainable and beneficial practice you enjoy! Set to a good pace, we will focus on form and function to increase flexibility, build strength, and regulate the nervous system. Repeat this session with consistency and watch your breath and body transform.

            Yoga is for everyone! The hardest part is showing up.</p>
        </div>
        <div class="col-sm-6">
            <h2><u>Feel Good Flow - Abs</u>
            </h2>
            <video width="350" height="240" controls>
                <source src="assets/yv2.mp4" type="video/mp4">
                
              </video>
              <p>Some practices tone and strengthen your body (your big, mirror muscles) but leave your nervous system a wreck. This session is intended to do the opposite, allowing you to center mentally and emotionally while receiving that full-body flow you crave.</p>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <h2><u>Yoga For When You're Feeling Scared</u></h2>
        <video width="350" height="240" controls>
            <source src="assets/yv3.mp4" type="video/mp4">
            
          </video>
          <p>Let’s face it. The world can feel scary sometimes, really scary. Our fight and flight response is turned on and our rest and repair response is whispering, “pick me pick me.”</p>
        </div>
        <div class="col-sm-6">
            <h2><u>Yoga For Comfort and Nourishment</u></h2>
            <video width="350" height="240" controls>
                <source src="assets/yv4.mp4" type="video/mp4">
                
              </video>
              <p>A therapeutic yoga practice for mental and emotional health, this heart-centered session provides focus on the neck, shoulders, and thoracic spine.

                Release tension from your body, move stagnant energy, nourish your spirit!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
           <h2><u>10-Minute Yoga for Beginners</u></h2>
           <video width="350" height="240" controls>
            <source src="assets/yv5.mp4" type="video/mp4">
            
          </video>
          <p>This 10-minute yoga practice is perfect for the absolute complete beginner or someone just wanting to go back and add subtle body connection and alignment for a sustainable practice that supports harmonious whole health. Set at just ten minutes, this is a must-do yoga session for all.</p>
        </div>
        <div class="col-sm-6">
            <h2><u>Meditation: Stillness For Stress Relief</u></h2>
           <video width="350" height="240" controls>
            <source src="assets/yv6.mp4" type="video/mp4">
            
          </video>
          <p>Be still, and know yourself better. In a world of constant bustle, hustle, and grind, there is still opportunity to cultivate balance and influence our experience of the world in a positive and meaningful way. This is a practice for mental health, and spiritual wellbeing - a gift for both mind and body. Stillness can be challenging, but that is why this is a practice. Join me, practice dropping in, and welcome clarity and peace now.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
         <h2><u>Yoga For Flexible Mind and Body</u></h2>
         <video width="350" height="240" controls>
            <source src="assets/yv7.mp4" type="video/mp4">
            
          </video>
          <p>Learn to move wisely and efficiently, so that you can meet your goals, and reach further than you could have ever imagined without overextending yourself in a relentless mode of hustle.

            Through this practice, we gain confidence and learn the tools to be present, change courses, and receive clarity.
            
            STRETCH your body, make time for contemplation, and please join me today for this practice dedicated to helping you flow with a flexible mind and body.</p>
        </div>
        <div class="col-sm-6">
            <h2><u>Fundamentals of Ease - Yoga For Beginners</u></h2>
            <video width="350" height="240" controls>
                <source src="assets/yv8.mp4" type="video/mp4">
                
              </video>
              <p>This holistic session will be nice for beginners but also beneficial for anyone at any stage of their yoga practice as it focuses on the philosophy of one of my favorite yoga sutras which teaches us ultimately how to balance effort with ease.

                Join me for this 35 minute practice with a focus on the movement and philosophy of ease. Sometimes, this is easier said than done. It can be “easier” to do what you are told rather than find what feels good and be present in your body. The fundamentals of ease is a practice that can shift the way you arrive on your mat, and the way in which your time there serves you.</p>
        </div>
    </div>
</div>
