<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Add Things to Do</h5>
                </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="todo" name="todo" [(ngModel)]="todo">
                        <label >Things To Do</label>
                    </div>
                   
                    <button type="button" class="btn btn-outline-success" (click)="addStudent()">Add </button>
            </div>
        </div>
        <div class="col-md-8 mt-2">
            
            <div class="card p-3 shadow">
                <div class="card-body">
                    <h3 style="color: black ;"><u><b >To Do List</b></u></h3>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">To DO List</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let todo of studentsList">
                            <td >{{todo.todo}}</td>
                            
                            <td>
                                <button class="btn btn-outline-danger" (click)="deleteStudent(todo)">Done</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>
